please_push
CloseCompendium/

PythonCompendium/.ipynb_checkpoints
PythonCompendium/FlyInTheBus/avi
PythonCompendium/FlyInTheBus/res
PythonCompendium/MyCarEngine/res_avi
PythonCompendium/MyCarEngine/res
PythonCompendium/MyCarEngine/img
PythonCompendium/Study/School/schoolfiles/
PythonCompendium/Study/Python-2-MIPT/img/
PythonCompendium/Study/Python-2-MIPT/lessons
PythonCompendium/storage/banners/img/
PythonCompendium/storage/files/
PythonCompendium/MyVedo/hdri

RnD-master/venv
RnD-master/__pycache__
RnD-master/img
RnD-master/storage
RnD-master/.idea
RnD-master/icons
RnD-master/hdri
RnD-master/res_hdr_3_3.gif

RnD-PhD/venv
RnD-PhD/__pycache__
RnD-PhD/.idea
RnD-PhD/img
RnD-PhD/images/skins/
RnD-PhD/res/
RnD-PhD/srs/kiamformation/data/measures_vector_notes_last.txt
RnD-PhD/srs/kiamformation/data/trajectories/
